<div class="sidebar" id="sidebar">
    <!-- Logo -->
    <div class="sidebar-logo">
        <a href="index" class="logo logo-normal">
            <img src="assets/img/logo.svg" alt="Img">
        </a>
        <a href="index" class="logo logo-white">
            <img src="assets/img/logo-white.svg" alt="Img">
        </a>
        <a href="index" class="logo-small">
            <img src="assets/img/logo-small.png" alt="Img">
        </a>
        <a href="index" class="logo-small-white">
            <img src="assets/img/logo-small-white.png" alt="Img">
        </a>
        <a id="toggle_btn" href="javascript:void(0);">
            <i data-feather="chevrons-left" class="feather-16"></i>
        </a>
    </div>
    <!-- /Logo -->
    <div class="modern-profile p-3 pb-0">
        <div class="text-center rounded bg-light p-3 mb-4 user-profile">
            <div class="avatar avatar-lg online mb-3">
                <img src="assets/img/customer/customer15.jpg" alt="Img" class="img-fluid rounded-circle">
            </div>
            <h6 class="fs-14 fw-bold mb-1">Adrian Herman</h6>
            <p class="fs-12 mb-0">System Admin</p>
        </div>
        <div class="sidebar-nav mb-3">
            <ul class="nav nav-tabs nav-tabs-solid nav-tabs-rounded nav-justified bg-transparent" role="tablist">
                <li class="nav-item"><a class="nav-link active border-0" href="#">Menu</a></li>
                <li class="nav-item"><a class="nav-link border-0" href="chat">Chats</a></li>
                <li class="nav-item"><a class="nav-link border-0" href="email">Inbox</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebar-header p-3 pb-0 pt-2">
        <div class="text-center rounded bg-light p-2 mb-4 sidebar-profile d-flex align-items-center">
            <div class="avatar avatar-md onlin">
                <img src="assets/img/customer/customer15.jpg" alt="Img" class="img-fluid rounded-circle">
            </div>
            <div class="text-start sidebar-profile-info ms-2">
                <h6 class="fs-14 fw-bold mb-1">Adrian Herman</h6>
                <p class="fs-12">System Admin</p>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between menu-item mb-3">
            <div>
                <a href="index" class="btn btn-sm btn-icon bg-light">
                    <i class="ti ti-layout-grid-remove"></i>
                </a>
            </div>
            <div>
                <a href="chat" class="btn btn-sm btn-icon bg-light">
                    <i class="ti ti-brand-hipchat"></i>
                </a>
            </div>
            <div>
                <a href="email" class="btn btn-sm btn-icon bg-light position-relative">
                    <i class="ti ti-message"></i>
                </a>
            </div>
            <div class="notification-item">
                <a href="activities" class="btn btn-sm btn-icon bg-light position-relative">
                    <i class="ti ti-bell"></i>
                    <span class="notification-status-dot"></span>
                </a>
            </div>
            <div class="me-0">
                <a href="general-settings" class="btn btn-sm btn-icon bg-light">
                    <i class="ti ti-settings"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Main</h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" 
                            class="<%= (active_path === routes.admin_dashboard || active_path === routes.admin_dashboard_2 || active_path === routes.sales_dashboard ) ? 'active subdrop' : '' %>">
                                <i class="ti ti-layout-grid fs-16 me-2"></i>
                                <span>Dashboard</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="index" class="<%= active_path === routes.admin_dashboard ? 'active' : '' %>">Admin Dashboard</a></li>
                                <li><a href="admin-dashboard-2" class="<%= active_path === routes.admin_dashboard_2 ? 'active' : '' %>">Admin Dashboard 2</a></li>
                                <li><a href="sales-dashboard" class="<%= active_path === routes.sales_dashboard ? 'active' : '' %>">Sales Dashboard</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"
                                class="<%= (active_path === routes.dashboard || active_path === routes.companies || active_path === routes.subscription || 
                                active_path === routes.packages || active_path === routes.domain || active_path === routes.purchase_transaction) ? 'active subdrop' : '' %>"
                            >
                                <i class="ti ti-user-edit fs-16 me-2"></i>
                                <span>Super Admin</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="dashboard" class="<%= active_path === routes.dashboard ? 'active' : '' %>">Dashboard</a></li>
                                <li><a href="companies" class="<%= active_path === routes.companies ? 'active' : '' %>">Companies</a></li>
                                <li><a href="subscription" class="<%= active_path === routes.subscription ? 'active' : '' %>">Subscriptions</a></li>
                                <li><a href="packages" class="<%= active_path === routes.packages ? 'active' : '' %>">Packages</a></li>
                                <li><a href="domain" class="<%= active_path === routes.domain ? 'active' : '' %>">Domain</a></li>
                                <li><a href="purchase-transaction" class="<%= active_path === routes.purchase_transaction ? 'active' : '' %>">Purchase Transaction</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"
                                class="<%= (active_path === routes.chat || active_path === routes.video_call || active_path === routes.audio_call || 
                                active_path === routes.call_history || active_path === routes.calendar || active_path === routes.contacts ||
                                active_path === routes.email || active_path === routes.todo || active_path === routes.notes || active_path === routes.file_manager ||
                                active_path === routes.projects || active_path === routes.products || active_path === routes.orders || active_path === routes.customers ||
                                active_path === routes.cart || active_path === routes.checkout || active_path === routes.wishlist|| active_path === routes.reviews || 
                                active_path === routes.social_feed || active_path === routes.search_list ) ? 'active subdrop' : '' %>"
                            >
                                <i class="ti ti-brand-apple-arcade fs-16 me-2"></i>
                                <span>Application</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="chat" class="<%= active_path === routes.chat ? 'active' : '' %>">Chat</a></li>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);" class="<%= active_path === routes.video_call || active_path === routes.audio_call || active_path === routes.call_history ? 'active subdrop' : '' %>">
                                        Call
                                        <span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        <li><a href="video-call" class="<%= active_path === routes.video_call ? 'active' : '' %>">Video Call</a></li>
                                        <li><a href="audio-call" class="<%= active_path === routes.audio_call ? 'active' : '' %>">Audio Call</a></li>
                                        <li><a href="call-history" class="<%= active_path === routes.call_history ? 'active' : '' %>"> Call History</a></li>
                                    </ul>
                                </li>
                                <li><a href="calendar" class="<%= active_path === routes.calendar ? 'active' : '' %>">Calendar</a></li>
                                <li><a href="contacts" class="<%= active_path === routes.contacts ? 'active' : '' %>">Contacts</a></li>
                                <li><a href="email" class="<%= active_path === routes.email ? 'active' : '' %>">Email</a></li>
                                <li><a href="todo" class="<%= active_path === routes.todo ? 'active' : '' %>">To Do</a></li>
                                <li><a href="notes" class="<%= active_path === routes.notes ? 'active' : '' %>">Notes</a></li>
                                <li><a href="file-manager" class="<%= active_path === routes.file_manager ? 'active' : '' %>">File Manager</a></li>
                                <li><a href="projects" class="<%= active_path === routes.projects ? 'active' : '' %>">Projects</a></li>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);"
                                        class="<%= active_path === routes.products || active_path === routes.orders || active_path === routes.customers ||
                                        active_path === routes.cart || active_path === routes.checkout || active_path === routes.wishlist|| active_path === routes.reviews
                                        ? 'active subdrop' : '' %>"
                                    >
                                        Ecommerce
                                        <span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        <li><a href="products" class="<%= active_path === routes.products ? 'active' : '' %>">Products</a></li>
                                        <li><a href="orders" class="<%= active_path === routes.orders ? 'active' : '' %>">Orders</a></li>
                                        <li><a href="customers" class="<%= active_path === routes.customers ? 'active' : '' %>">Customers</a></li>
                                        <li><a href="cart" class="<%= active_path === routes.cart ? 'active' : '' %>">Cart</a></li>
                                        <li><a href="checkout" class="<%= active_path === routes.checkout ? 'active' : '' %>">Checkout</a></li>
                                        <li><a href="wishlist" class="<%= active_path === routes.wishlist ? 'active' : '' %>">Wishlist</a></li>
                                        <li><a href="reviews" class="<%= active_path === routes.reviews ? 'active' : '' %>">Reviews</a></li>
                                    </ul>
                                </li>
                                <li><a href="social-feed" class="<%= active_path === routes.social_feed ? 'active' : '' %>">Social Feed</a></li>
                                <li><a href="search-list" class="<%= active_path === routes.search_list ? 'active' : '' %>">Search List</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"
                                class="<%= active_path === routes.layout_horizontal || active_path === routes.layout_detached || active_path === routes.layout_two_column ||
                                active_path === routes.layout_hovered || active_path === routes.layout_boxed || active_path === routes.layout_rtl || 
                                active_path === routes.layout_dark  ? 'active subdrop' : '' %>"
                            >
                                <i class="ti ti-layout-sidebar-right-collapse fs-16 me-2"></i>
                                <span>Layouts</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="layout-horizontal" class="<%= active_path === routes.layout_horizontal ? 'active' : '' %>">Horizontal</a></li>
                                <li><a href="layout-detached" class="<%= active_path === routes.layout_detached ? 'active' : '' %>">Detached</a></li>
                                <li><a href="layout-two-column" class="<%= active_path === routes.layout_two_column ? 'active' : '' %>">Two Column</a></li>
                                <li><a href="layout-hovered" class="<%= active_path === routes.layout_hovered ? 'active' : '' %>">Hovered</a></li>
                                <li><a href="layout-boxed" class="<%= active_path === routes.layout_boxed ? 'active' : '' %>">Boxed</a></li>
                                <li><a href="layout-rtl" class="<%= active_path === routes.layout_rtl ? 'active' : '' %>">RTL</a></li>
                                <li><a href="layout-dark" class="<%= active_path === routes.layout_dark ? 'active' : '' %>">Dark</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Inventory</h6>
                    <ul>
                        <li class="<%= active_path === routes.product_list || active_path === routes.edit_product || active_path === routes.product_details ? 'active' : '' %>"><a href="product-list"><i data-feather="box"></i><span>Products</span></a></li>
                        <li class="<%= active_path === routes.add_product ? 'active' : '' %>"><a href="add-product"><i class="ti ti-table-plus fs-16 me-2"></i><span>Create Product</span></a></li>
                        <li class="<%= active_path === routes.expired_products ? 'active' : '' %>"><a href="expired-products"><i class="ti ti-progress-alert fs-16 me-2"></i><span>Expired Products</span></a></li>
                        <li class="<%= active_path === routes.low_stocks ? 'active' : '' %>"><a href="low-stocks"><i class="ti ti-trending-up-2 fs-16 me-2"></i><span>Low Stocks</span></a></li>
                        <li class="<%= active_path === routes.category_list ? 'active' : '' %>"><a href="category-list"><i class="ti ti-list-details fs-16 me-2"></i><span>Category</span></a></li>
                        <li class="<%= active_path === routes.sub_categories ? 'active' : '' %>"><a href="sub-categories"><i class="ti ti-carousel-vertical fs-16 me-2"></i><span>Sub Category</span></a></li>
                        <li class="<%= active_path === routes.brand_list ? 'active' : '' %>"><a href="brand-list"><i class="ti ti-triangles fs-16 me-2"></i><span>Brands</span></a></li>
                        <li class="<%= active_path === routes.units ? 'active' : '' %>"><a href="units"><i class="ti ti-brand-unity fs-16 me-2"></i><span>Units</span></a></li>
                        <li class="<%= active_path === routes.varriant_attributes ? 'active' : '' %>"><a href="varriant-attributes"><i class="ti ti-checklist fs-16 me-2"></i><span>Variant Attributes</span></a></li>
                        <li class="<%= active_path === routes.warranty ? 'active' : '' %>"><a href="warranty"><i class="ti ti-certificate fs-16 me-2"></i><span>Warranties</span></a></li>
                        <li class="<%= active_path === routes.barcode ? 'active' : '' %>"><a href="barcode"><i class="ti ti-barcode fs-16 me-2"></i><span>Print Barcode</span></a></li>
                        <li class="<%= active_path === routes.qrcode ? 'active' : '' %>"><a href="qrcode"><i class="ti ti-qrcode fs-16 me-2"></i><span>Print QR Code</span></a></li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Stock</h6>
                    <ul>
                        <li class="<%= active_path === routes.manage_stocks ? 'active' : '' %>"><a href="manage-stocks"><i class="ti ti-stack-3 fs-16 me-2"></i><span>Manage Stock</span></a></li>
                        <li class="<%= active_path === routes.stock_adjustment ? 'active' : '' %>"><a href="stock-adjustment"><i class="ti ti-stairs-up fs-16 me-2"></i><span>Stock Adjustment</span></a></li>
                        <li class="<%= active_path === routes.stock_transfer ? 'active' : '' %>"><a href="stock-transfer"><i class="ti ti-stack-pop fs-16 me-2"></i><span>Stock Transfer</span></a></li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Sales</h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.online_orders || active_path === routes.pos_orders ? 'active subdrop' : '' %>">
                                <i class="ti ti-layout-grid fs-16 me-2"></i>
                                <span>Sales</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="online-orders" class="<%= active_path === routes.online_orders ? 'active' : '' %>">Online Orders</a></li>
                                <li><a href="pos-orders" class="<%= active_path === routes.pos_orders ? 'active' : '' %>">POS Orders</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path === routes.invoice ? 'active' : '' %>"><a href="invoice"><i class="ti ti-file-invoice fs-16 me-2"></i><span>Invoices</span></a></li>
                        <li class="<%= active_path === routes.sales_returns ? 'active' : '' %>"><a href="sales-returns"><i class="ti ti-receipt-refund fs-16 me-2"></i><span>Sales Return</span></a></li>
                        <li class="<%= active_path === routes.quotation_list ? 'active' : '' %>"><a href="quotation-list"><i class="ti ti-files fs-16 me-2"></i><span>Quotation</span></a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.pos || active_path === routes.pos_2 || active_path === routes.pos_3 ||
                            active_path === routes.pos_4 || active_path === routes.pos_5 ? 'active subdrop' : '' %>">
                                <i class="ti ti-device-laptop fs-16 me-2"></i>
                                <span>POS</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="pos" class="<%= active_path === routes.pos ? 'active' : '' %>">POS 1</a></li>
                                <li><a href="pos-2" class="<%= active_path === routes.pos_2 ? 'active' : '' %>">POS 2</a></li>
                                <li><a href="pos-3" class="<%= active_path === routes.pos_3 ? 'active' : '' %>">POS 3</a></li>
                                <li><a href="pos-4" class="<%= active_path === routes.pos_4 ? 'active' : '' %>">POS 4</a></li>
                                <li><a href="pos-5" class="<%= active_path === routes.pos_5 ? 'active' : '' %>">POS 5</a></li>
                                <li><a href="https://nodejs.dreamstechnologies.com/food-pos/template/index" class="<%= active_path === routes.pos_5 ? 'active' : '' %>" target="_blank">POS 6</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Promo</h6>
                    <ul>
                        <li class="<%= active_path === routes.coupons ? 'active' : '' %>"><a href="coupons"><i class="ti ti-ticket fs-16 me-2"></i><span>Coupons</span></a></li>
                        <li class="<%= active_path === routes.gift_cards ? 'active' : '' %>"><a href="gift-cards"><i class="ti ti-cards fs-16 me-2"></i><span>Gift Cards</span></a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.discount_plan || active_path === routes.discount ? 'active subdrop' : '' %>">
                                <i class="ti ti-file-percent fs-16 me-2"></i>
                                <span>Discount</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="discount-plan" class="<%= active_path === routes.discount_plan ? 'active' : '' %>">Discount Plan</a></li>
                                <li><a href="discount" class="<%= active_path === routes.discount ? 'active' : '' %>">Discount</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Purchases</h6>
                    <ul>
                        <li class="<%= active_path === routes.purchase_list ? 'active' : '' %>"><a href="purchase-list"><i class="ti ti-shopping-bag fs-16 me-2"></i><span>Purchases</span></a></li>
                        <li class="<%= active_path === routes.purchase_order_report ? 'active' : '' %>"><a href="purchase-order-report"><i class="ti ti-file-unknown fs-16 me-2"></i><span>Purchase Order</span></a></li>
                        <li class="<%= active_path === routes.purchase_returns ? 'active' : '' %>"><a href="purchase-returns"><i class="ti ti-file-upload fs-16 me-2"></i><span>Purchase Return</span></a></li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Finance & Accounts</h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.expenseList || active_path === routes.expenseCategory ? 'active subdrop' : '' %>">
                                <i class="ti ti-file-stack fs-16 me-2"></i>
                                <span>Expenses</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="expense-list" class="<%= active_path === routes.expenseList ? 'active' : '' %>">Expenses</a></li>
                                <li><a href="expense-category" class="<%= active_path === routes.expenseCategory ? 'active' : '' %>">Expense Category</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"  class="<%= active_path === routes.income || active_path === routes.incomeCategory ? 'active subdrop' : '' %>">
                                <i class="ti ti-file-pencil fs-16 me-2"></i>
                                <span>Income</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="income" class="<%= active_path === routes.income ? 'active' : '' %>">Income</a></li>
                                <li><a href="income-category" class="<%= active_path === routes.incomeCategory ? 'active' : '' %>">Income Category</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path === routes.accountList ? 'active' : '' %>"><a href="account-list"><i class="ti ti-building-bank fs-16 me-2"></i><span>Bank Accounts</span></a></li>
                        <li class="<%= active_path === routes.moneyTransfer ? 'active' : '' %>"><a href="money-transfer"><i class="ti ti-moneybag fs-16 me-2"></i><span>Money Transfer</span></a></li>
                        <li class="<%= active_path === routes.balanceSheet ? 'active' : '' %>"><a href="balance-sheet"><i class="ti ti-report-money fs-16 me-2"></i><span>Balance Sheet</span></a></li>
                        <li class="<%= active_path === routes.trialBalance ? 'active' : '' %>"><a href="trial-balance"><i class="ti ti-alert-circle fs-16 me-2"></i><span>Trial Balance</span></a></li>
                        <li class="<%= active_path === routes.cashFlow ? 'active' : '' %>"><a href="cash-flow"><i class="ti ti-zoom-money fs-16 me-2"></i><span>Cash Flow</span></a></li>
                        <li class="<%= active_path === routes.accountStatement ? 'active' : '' %>"><a href="account-statement"><i class="ti ti-file-infinity fs-16 me-2"></i><span>Account Statement</span></a></li>

                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Peoples</h6>
                    <ul>
                        <li class="<%= active_path === routes.customers ? 'active' : '' %>"><a href="customers"><i class="ti ti-users-group fs-16 me-2"></i><span>Customers</span></a></li>
                        <li class="<%= active_path === routes.billers ? 'active' : '' %>"><a href="billers"><i class="ti ti-user-up fs-16 me-2"></i><span>Billers</span></a></li>
                        <li class="<%= active_path === routes.suppliers ? 'active' : '' %>"><a href="suppliers"><i class="ti ti-user-dollar fs-16 me-2"></i><span>Suppliers</span></a></li>
                        <li class="<%= active_path === routes.storeList ? 'active' : '' %>"><a href="store-list"><i class="ti ti-home-bolt fs-16 me-2"></i><span>Stores</span></a></li>
                        <li class="<%= active_path === routes.warehouse ? 'active' : '' %>"><a href="warehouse"><i class="ti ti-archive fs-16 me-2"></i><span>Warehouses</span></a>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">HRM</h6>
                    <ul>
                        <li class="<%= active_path === routes.employeesGrid || active_path == routes.employeesList || active_path == routes.employeeDetails ? 'active' : '' %>"><a href="employees-grid"><i class="ti ti-user fs-16 me-2"></i><span>Employees</span></a></li>
                        <li class="<%= active_path === routes.departmentGrid || active_path == routes.departmentList ? 'active' : '' %>"><a href="department-grid"><i class="ti ti-compass fs-16 me-2"></i><span>Departments</span></a></li>
                        <li class="<%= active_path === routes.designation ? 'active' : '' %>"><a href="designation"><i class="ti ti-git-merge fs-16 me-2"></i><span>Designation</span></a></li>
                        <li class="<%= active_path === routes.shift ? 'active' : '' %>"><a href="shift"><i class="ti ti-arrows-shuffle fs-16 me-2"></i><span>Shifts</span></a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.attendanceEmployee || active_path === routes.attendanceAdmin ? 'active subdrop' : '' %>">
                                <i class="ti ti-user-cog fs-16 me-2"></i>
                                <span>Attendence</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="attendance-employee" class="<%= active_path === routes.attendanceEmployee ? 'active' : '' %>">Employee</a></li>
                                <li><a href="attendance-admin" class="<%= active_path === routes.attendanceAdmin ? 'active' : '' %>">Admin</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.leavesAdmin || active_path === routes.leavesEmployee || active_path === routes.leaveTypes ? 'active subdrop' : '' %>">
                                <i class="ti ti-calendar fs-16 me-2"></i>
                                <span>Leaves</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="leaves-admin" class="<%= active_path === routes.leavesAdmin ? 'active' : '' %>">Admin Leaves</a></li>
                                <li><a href="leaves-employee" class="<%= active_path === routes.leavesEmployee ? 'active' : '' %>">Employee Leaves</a></li>
                                <li><a href="leave-types" class="<%= active_path === routes.leaveTypes ? 'active' : '' %>">Leave Types</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path === routes.holidays ? 'active' : '' %>"><a href="holidays"><i class="ti ti-calendar-share fs-16 me-2"></i><span>Holidays</span></a>
                        </li>
                        <li class="submenu">
                            <a href="employee-salary" class="<%= active_path === routes.employeeSalary || active_path === routes.payslip ? 'active subdrop' : '' %>">
                                <i class="ti ti-file-dollar fs-16 me-2"></i>
                                <span>Payroll</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="employee-salary" class="<%= active_path === routes.employeeSalary ? 'active' : '' %>">Employee Salary</a></li>
                                <li><a href="payslip" class="<%= active_path === routes.payslip ? 'active' : '' %>">Payslip</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Reports</h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.salesReport || active_path === routes.bestSeller ? 'active subdrop' : '' %>">
                                <i class="ti ti-chart-bar fs-16 me-2"></i>
                                <span>Sales Report</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="sales-report" class="<%= active_path === routes.salesReport ? 'active' : '' %>">Sales Report</a></li>
                                <li><a href="best-seller" class="<%= active_path === routes.bestSeller ? 'active' : '' %>">Best Seller</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path === routes.purchaseReport ? 'active' : '' %>"><a href="purchase-report"><i class="ti ti-chart-pie-2 fs-16 me-2"></i><span>Purchase report</span></a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.inventoryReport || active_path === routes.stockHistory || active_path === routes.soldStock ? 'active subdrop' : '' %>"> 
                                <i class="ti ti-triangle-inverted fs-16 me-2"></i>
                                <span>Inventory Report</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="inventory-report" class="<%= active_path === routes.inventoryReport ? 'active' : '' %>">Inventory Report</a></li>
                                <li><a href="stock-history" class="<%= active_path === routes.stockHistory ? 'active' : '' %>">Stock History</a></li>
                                <li><a href="sold-stock" class="<%= active_path === routes.soldStock ? 'active' : '' %>">Sold Stock</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path === routes.invoiceReport ? 'active' : '' %>"><a href="invoice-report"><i class="ti ti-businessplan fs-16 me-2"></i><span>Invoice Report</span></a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.supplierReport  || active_path === routes.supplierdueReport ? 'active subdrop' : '' %>">
                                <i class="ti ti-user-star fs-16 me-2"></i>
                                <span>Supplier Report</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="supplier-report" class="<%= active_path === routes.supplierReport ? 'active' : '' %>">Supplier Report</a></li>
                                <li><a href="supplier-due-report" class="<%= active_path === routes.supplierdueReport ? 'active' : '' %>">Supplier Due Report</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" 
                            class="<%= active_path === routes.customerReport || active_path === routes.customerdueReport ? 'active subdrop' : '' %>">
                                <i class="ti ti-report fs-16 me-2"></i>
                                <span>Customer Report</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="customer-report" class="<%= active_path === routes.customerReport ? 'active' : '' %>">Customer Report</a></li>
                                <li><a href="customer-due-report" class="<%= active_path === routes.customerdueReport ? 'active' : '' %>">Customer Due Report</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"
                                class="<%= active_path === routes.productReport || active_path === routes.productexpiryReport || active_path === routes.productquantityAlert ? 'active subdrop' : '' %>"
                            >
                                <i class="ti ti-report-analytics fs-16 me-2"></i>
                                <span>Product Report</span
                                    ><span class="menu-arrow"></span>
                                </a>
                            <ul>
                                <li><a href="product-report" class="<%= active_path === routes.productReport ? 'active' : '' %>">Product Report</a></li>
                                <li><a href="product-expiry-report" class="<%= active_path === routes.productexpiryReport ? 'active' : '' %>">Product Expiry Report</a></li>
                                <li><a href="product-quantity-alert" class="<%= active_path === routes.productquantityAlert ? 'active' : '' %>">Product Quantity Alert</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path === routes.expenseReport ? 'active' : '' %>"><a href="expense-report"><i class="ti ti-file-vector fs-16 me-2"></i><span>Expense Report</span></a></li>
                        <li class="<%= active_path === routes.incomeReport ? 'active' : '' %>"><a href="income-report"><i class="ti ti-chart-ppf fs-16 me-2"></i><span>Income Report</span></a></li>
                        <li class="<%= active_path === routes.taxReports ? 'active' : '' %>"><a href="tax-reports"><i class="ti ti-chart-dots-2 fs-16 me-2"></i><span>Tax Report</span></a></li>
                        <li class="<%= active_path === routes.profitAndLoss ? 'active' : '' %>"><a href="profit-and-loss"><i class="ti ti-chart-donut fs-16 me-2"></i><span>Profit & Loss</span></a></li>
                        <li class="<%= active_path === routes.annualReport ? 'active' : '' %>"><a href="annual-report"><i class="ti ti-report-search fs-16 me-2"></i><span>Annual Report</span></a></li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Content (CMS)</h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.pages ? 'active subdrop' : '' %>">
                                <i class="ti ti-page-break fs-16 me-2"></i>
                                <span>Pages</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="pages" class="<%= active_path === routes.pages ? 'active' : '' %>">Pages</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.allBlog || active_path === routes.blogTag || active_path === routes.blogCategories ||
                                active_path === routes.blogComments ? 'active subdrop' : '' %>">
                                <i class="ti ti-wallpaper fs-16 me-2"></i>
                                <span>Blog</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="all-blog" class="<%= active_path === routes.allBlog ? 'active' : '' %>">All Blog</a></li>
                                <li><a href="blog-tag" class="<%= active_path === routes.blogTag ? 'active' : '' %>">Blog Tags</a></li>
                                <li><a href="blog-categories" class="<%= active_path === routes.blogCategories ? 'active' : '' %>">Categories</a></li>
                                <li><a href="blog-comments" class="<%= active_path === routes.blogComments ? 'active' : '' %>">Blog Comments</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.countries || active_path === routes.states || active_path === routes.cities ? 'active subdrop' : '' %>">
                                <i class="ti ti-map-pin fs-16 me-2"></i>
                                <span>Location</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="countries" class="<%= active_path === routes.countries ? 'active' : '' %>">Countries</a></li>
                                <li><a href="states" class="<%= active_path === routes.states ? 'active' : '' %>">States</a></li>
                                <li><a href="cities" class="<%= active_path === routes.cities ? 'active' : '' %>">Cities</a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path === routes.testimonials ? 'active' : '' %>"><a href="testimonials"><i class="ti ti-star fs-16 me-2"></i><span>Testimonials</span></a></li>
                        <li class="<%= active_path === routes.faq ? 'active' : '' %>"><a href="faq"><i class="ti ti-help-circle fs-16 me-2"></i><span>FAQ</span></a></li>

                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">User Management</h6>
                    <ul>
                        <li class="<%= active_path === routes.users ? 'active' : '' %>"><a href="users"><i class="ti ti-shield-up fs-16 me-2"></i><span>Users</span></a></li>
                        <li class="<%= active_path === routes.roles_permissions || active_path === routes.permissions ? 'active' : '' %>"><a href="roles-permissions"><i class="ti ti-jump-rope fs-16 me-2"></i><span>Roles & Permissions</span></a></li>
                        <li class="<%= active_path === routes.delete_account ? 'active' : '' %>"><a href="delete-account"><i class="ti ti-trash-x fs-16 me-2"></i><span>Delete Account Request</span></a></li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Pages</h6>
                    <ul>
                        <li class="<%= active_path === routes.profile ? 'active' : '' %>"><a href="profile"><i class="ti ti-user-circle fs-16 me-2"></i><span>Profile</span></a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="ti ti-shield fs-16 me-2"></i><span>Authentication</span><span class="menu-arrow"></span></a>
                            <ul>
                                <li class="submenu submenu-two"><a href="javascript:void(0);">Login<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="signin">Cover</a></li>
                                        <li><a href="signin-2">Illustration</a></li>
                                        <li><a href="signin-3">Basic</a></li>
                                    </ul>
                                </li>
                                <li class="submenu submenu-two"><a href="javascript:void(0);">Register<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="register">Cover</a></li>
                                        <li><a href="register-2">Illustration</a></li>
                                        <li><a href="register-3">Basic</a></li>
                                    </ul>
                                </li>
                                <li class="submenu submenu-two"><a href="javascript:void(0);">Forgot Password<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="forgot-password">Cover</a></li>
                                        <li><a href="forgot-password-2">Illustration</a></li>
                                        <li><a href="forgot-password-3">Basic</a></li>
                                    </ul>
                                </li>
                                <li class="submenu submenu-two"><a href="javascript:void(0);">Reset Password<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="reset-password">Cover</a></li>
                                        <li><a href="reset-password-2">Illustration</a></li>
                                        <li><a href="reset-password-3">Basic</a></li>
                                    </ul>
                                </li>
                                <li class="submenu submenu-two"><a href="javascript:void(0);">Email Verification<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="email-verification">Cover</a></li>
                                        <li><a href="email-verification-2">Illustration</a></li>
                                        <li><a href="email-verification-3">Basic</a></li>
                                    </ul>
                                </li>
                                <li class="submenu submenu-two"><a href="javascript:void(0);">2 Step Verification<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="two-step-verification">Cover</a></li>
                                        <li><a href="two-step-verification-2">Illustration</a></li>
                                        <li><a href="two-step-verification-3">Basic</a></li>
                                    </ul>
                                </li>
                                <li><a href="lock-screen">Lock Screen</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="ti ti-file-x fs-16 me-2"></i><span>Error Pages</span><span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="error-404">404 Error </a></li>
                                <li><a href="error-500">500 Error </a></li>
                            </ul>
                        </li>
                        <li class="<%= active_path === routes.blank_page ? 'active' : '' %>">
                            <a href="blank-page"><i class="ti ti-file fs-16 me-2"></i><span>Blank Page</span> </a>
                        </li>
                        <li class="<%= active_path === routes.pricing ? 'active' : '' %>">
                            <a href="pricing"><i class="ti ti-currency-dollar fs-16 me-2"></i><span>Pricing</span> </a>
                        </li>
                        <li>
                            <a href="coming-soon"><i class="ti ti-send fs-16 me-2"></i><span>Coming Soon</span> </a>
                        </li>
                        <li>
                            <a href="under-maintenance"><i class="ti ti-alert-triangle fs-16 me-2"></i><span>Under Maintenance</span> </a>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Settings</h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.generalSettings || active_path === routes.securitySettings || active_path === routes.notification ||
                                active_path === routes.connectedApps ? 'active subdrop' : '' %>">
                                <i class="ti ti-settings fs-16 me-2"></i>
                                <span>General Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="general-settings" class="<%= active_path === routes.generalSettings ? 'active' : '' %>">Profile</a></li>
                                <li><a href="security-settings" class="<%= active_path === routes.securitySettings ? 'active' : '' %>">Security</a></li>
                                <li><a href="notification" class="<%= active_path === routes.notification ? 'active' : '' %>">Notifications</a></li>
                                <li><a href="connected-apps" class="<%= active_path === routes.connectedApps ? 'active' : '' %>">Connected Apps</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.systemSettings || active_path === routes.companySettings || active_path === routes.localizationSettings || 
                                active_path === routes.prefixes || active_path === routes.preference || active_path === routes.appearance || active_path === routes.socialAuthentication || 
                                active_path === routes.languageSettings ? 'active subdrop' : '' %>">
                                <i class="ti ti-world fs-16 me-2"></i>
                                <span>Website Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="system-settings" class="<%= active_path === routes.systemSettings ? 'active' : '' %>">System Settings</a></li>
                                <li><a href="company-settings" class="<%= active_path === routes.companySettings ? 'active' : '' %>">Company Settings </a></li>
                                <li><a href="localization-settings" class="<%= active_path === routes.localizationSettings ? 'active' : '' %>">Localization</a></li>
                                <li><a href="prefixes" class="<%= active_path === routes.prefixes ? 'active' : '' %>">Prefixes</a></li>
                                <li><a href="preference" class="<%= active_path === routes.preference ? 'active' : '' %>">Preference</a></li>
                                <li><a href="appearance" class="<%= active_path === routes.appearance ? 'active' : '' %>">Appearance</a></li>
                                <li><a href="social-authentication" class="<%= active_path === routes.socialAuthentication ? 'active' : '' %>">Social Authentication</a></li>
                                <li><a href="language-settings" class="<%= active_path === routes.languageSettings ? 'active' : '' %>">Language</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.invoiceSettings || active_path === routes.invoiceTemplates || active_path === routes.printerSettings ||
                            active_path === routes.posSettings || active_path === routes.customFields ? 'active subdrop' : '' %>">
                                <i class="ti ti-device-mobile fs-16 me-2"></i>
                                <span>App Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);" class="<%= active_path === routes.invoiceSettings || active_path === routes.invoiceTemplates ? 'active subdrop' : '' %>">
                                        Invoice
                                        <span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        <li><a href="invoice-settings" class="<%= active_path === routes.invoiceSettings ? 'active' : '' %>">Invoice Settings</a></li>
                                        <li><a href="invoice-templates" class="<%= active_path === routes.invoiceTemplates ? 'active' : '' %>">Invoice Template</a></li>
                                    </ul>
                                </li>
                                <li><a href="printer-settings" class="<%= active_path === routes.printerSettings ? 'active' : '' %>">Printer</a></li>
                                <li><a href="pos-settings" class="<%= active_path === routes.posSettings ? 'active' : '' %>">POS</a></li>
                                <li><a href="custom-fields" class="<%= active_path === routes.customFields ? 'active' : '' %>">Custom Fields</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.emailSettings || active_path === routes.emailTemplates || active_path === routes.smsTemplates || 
                            active_path === routes.smsSettings || active_path === routes.otpSettings || active_path === routes.gdprSettings ? 'active subdrop' : '' %>">
                                <i class="ti ti-device-desktop fs-16 me-2"></i>
                                <span>System Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);" class="<%= active_path === routes.emailSettings || active_path === routes.emailTemplates ? 'active subdrop' : '' %>">
                                        Email
                                        <span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        <li><a href="email-settings" class="<%= active_path === routes.emailSettings ? 'active' : '' %>">Email Settings</a></li>
                                        <li><a href="email-templates" class="<%= active_path === routes.emailTemplates ? 'active' : '' %>">Email Template</a></li>
                                    </ul>
                                </li>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);" class="<%= active_path === routes.smsTemplates || active_path === routes.smsSettings ? 'active subdrop' : '' %>">
                                        SMS
                                        <span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        <li><a href="sms-settings" class="<%= active_path === routes.smsSettings ? 'active' : '' %>">SMS Settings</a></li>
                                        <li><a href="sms-templates" class="<%= active_path === routes.smsTemplates ? 'active' : '' %>">SMS Template</a></li>
                                    </ul>
                                </li>
                                <li class="<%= active_path === routes.otpSettings ? 'active' : '' %>"><a href="otp-settings">OTP</a></li>
                                <li class="<%= active_path === routes.gdprSettings ? 'active' : '' %>"><a href="gdpr-settings">GDPR Cookies</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.paymentGatewaySettings || active_path === routes.bankSettingsGrid || active_path === routes.taxRates || 
                            active_path === routes.currencySettings ? 'active subdrop' : '' %>">
                                <i class="ti ti-settings-dollar fs-16 me-2"></i>
                                <span>Financial Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="payment-gateway-settings" class="<%= active_path === routes.paymentGatewaySettings ? 'active' : '' %>">Payment Gateway</a></li>
                                <li><a href="bank-settings-grid" class="<%= active_path === routes.bankSettingsGrid ? 'active' : '' %>">Bank Accounts</a></li>
                                <li><a href="tax-rates" class="<%= active_path === routes.taxRates ? 'active' : '' %>">Tax Rates</a></li>
                                <li><a href="currency-settings" class="<%= active_path === routes.currencySettings ? 'active' : '' %>">Currencies</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path === routes.storageSettings || active_path === routes.banIpAddress ? 'active subdrop' : '' %>">
                                <i class="ti ti-settings-2 fs-16 me-2"></i>
                                <span>Other Settings</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="storage-settings" class="<%= active_path === routes.storageSettings ? 'active' : '' %>">Storage</a></li>
                                <li><a href="ban-ip-address" class="<%= active_path === routes.banIpAddress ? 'active' : '' %>">Ban IP Address</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="signin"><i class="ti ti-logout fs-16 me-2"></i><span>Logout</span> </a>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">UI Interface</h6>
                    <ul>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.ui_alerts || active_path == routes.ui_accordion || active_path == routes.ui_avatar || active_path == routes.ui_badges || active_path == routes.ui_borders || active_path == routes.ui_buttons || 
                            active_path == routes.ui_buttons_group || active_path == routes.ui_breadcrumb || active_path == routes.ui_cards || active_path == routes.ui_carousel || active_path == routes.ui_colors || active_path == routes.ui_dropdowns || 
                            active_path == routes.ui_grid || active_path == routes.ui_images || active_path == routes.ui_lightbox || active_path == routes.ui_media || active_path == routes.ui_modals || active_path == routes.ui_offcanvas || 
                            active_path == routes.ui_pagination || active_path == routes.ui_popovers || active_path == routes.ui_progress || active_path == routes.ui_placeholders || active_path == routes.ui_spinner || active_path == routes.ui_sweetalerts || 
                            active_path == routes.ui_nav_tabs || active_path == routes.ui_toasts || active_path == routes.ui_tooltips || active_path == routes.ui_typography || active_path == routes.ui_video || active_path == routes.ui_sortable || active_path == routes.ui_swiperjs
                            ? 'active subdrop' : '' %>">
                                <i class="ti ti-vector-bezier fs-16 me-2"></i><span>Base UI</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                  <a href="ui-alerts" class="<%= active_path == routes.ui_alerts ? 'active' : '' %>">Alerts</a>
                                </li>
                                <li>
                                  <a href="ui-accordion" class="<%= active_path == routes.ui_accordion ? 'active' : '' %>">Accordion</a>
                                </li>
                                <li>
                                  <a href="ui-avatar" class="<%= active_path == routes.ui_avatar ? 'active' : '' %>">Avatar</a>
                                </li>
                                <li>
                                  <a href="ui-badges" class="<%= active_path == routes.ui_badges ? 'active' : '' %>">Badges</a>
                                </li>
                                <li>
                                  <a href="ui-borders" class="<%= active_path == routes.ui_borders ? 'active' : '' %>">Border</a>
                                </li>
                                <li>
                                  <a href="ui-buttons" class="<%= active_path == routes.ui_buttons ? 'active' : '' %>">Buttons</a>
                                </li>
                                <li>
                                  <a href="ui-buttons-group" class="<%= active_path == routes.ui_buttons_group ? 'active' : '' %>">Button Group</a>
                                </li>
                                <li>
                                  <a href="ui-breadcrumb" class="<%= active_path == routes.ui_breadcrumb ? 'active' : '' %>">Breadcrumb</a>
                                </li>
                                <li>
                                  <a href="ui-cards" class="<%= active_path == routes.ui_cards ? 'active' : '' %>">Card</a>
                                </li>
                                <li>
                                  <a href="ui-carousel" class="<%= active_path == routes.ui_carousel ? 'active' : '' %>">Carousel</a>
                                </li>
                                <li>
                                  <a href="ui-colors" class="<%= active_path == routes.ui_colors ? 'active' : '' %>">Colors</a>
                                </li>
                                <li>
                                  <a href="ui-dropdowns" class="<%= active_path == routes.ui_dropdowns ? 'active' : '' %>">Dropdowns</a>
                                </li>
                                <li>
                                  <a href="ui-grid" class="<%= active_path == routes.ui_grid ? 'active' : '' %>">Grid</a>
                                </li>
                                <li>
                                  <a href="ui-images" class="<%= active_path == routes.ui_images ? 'active' : '' %>">Images</a>
                                </li>
                                <li>
                                  <a href="ui-lightbox" class="<%= active_path == routes.ui_lightbox ? 'active' : '' %>">Lightbox</a>
                                </li>
                                <li>
                                  <a href="ui-media" class="<%= active_path == routes.ui_media ? 'active' : '' %>">Media</a>
                                </li>
                                <li>
                                  <a href="ui-modals" class="<%= active_path == routes.ui_modals ? 'active' : '' %>">Modals</a>
                                </li>
                                <li>
                                  <a href="ui-offcanvas" class="<%= active_path == routes.ui_offcanvas ? 'active' : '' %>">Offcanvas</a>
                                </li>
                                <li>
                                  <a href="ui-pagination" class="<%= active_path == routes.ui_pagination ? 'active' : '' %>">Pagination</a>
                                </li>
                                <li>
                                  <a href="ui-popovers" class="<%= active_path == routes.ui_popovers ? 'active' : '' %>">Popovers</a>
                                </li>
                                <li>
                                  <a href="ui-progress" class="<%= active_path == routes.ui_progress ? 'active' : '' %>">Progress</a>
                                </li>
                                <li>
                                  <a href="ui-placeholders" class="<%= active_path == routes.ui_placeholders ? 'active' : '' %>">Placeholders</a>
                                </li>
                                <li>
                                  <a href="ui-spinner" class="<%= active_path == routes.ui_spinner ? 'active' : '' %>">Spinner</a>
                                </li>
                                <li>
                                  <a href="ui-sweetalerts" class="<%= active_path == routes.ui_sweetalerts ? 'active' : '' %>">Sweet Alerts</a>
                                </li>
                                <li>
                                  <a href="ui-nav-tabs" class="<%= active_path == routes.ui_nav_tabs ? 'active' : '' %>">Tabs</a>
                                </li>
                                <li>
                                  <a href="ui-toasts" class="<%= active_path == routes.ui_toasts ? 'active' : '' %>">Toasts</a>
                                </li>
                                <li>
                                  <a href="ui-tooltips" class="<%= active_path == routes.ui_tooltips ? 'active' : '' %>">Tooltips</a>
                                </li>
                                <li>
                                  <a href="ui-typography" class="<%= active_path == routes.ui_typography ? 'active' : '' %>">Typography</a>
                                </li>
                                <li>
                                  <a href="ui-video" class="<%= active_path == routes.ui_video ? 'active' : '' %>">Video</a>
                                </li>
                                <li>
                                  <a href="ui-sortable" class="<%= active_path == routes.ui_sortable ? 'active' : '' %>">Sortable</a>
                                </li>
                                <li>
                                  <a href="ui-swiperjs" class="<%= active_path == routes.ui_swiperjs ? 'active' : '' %>">Swiperjs</a>
                                </li>
                              </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= ( active_path == routes.ui_ribbon || active_path == routes.ui_clipboard || active_path == routes.ui_drag_drop || active_path == routes.ui_rangeslider || active_path == routes.ui_rating || 
                            active_path == routes.ui_text_editor || active_path == routes.ui_counter || active_path == routes.ui_scrollbar || active_path == routes.ui_stickynote || active_path == routes.ui_timeline 
                          ) ? 'active subdrop' : '' %>">
                                <i data-feather="layers"></i><span>Advanced UI</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                  <a href="ui-ribbon" class="<%= active_path == routes.ui_ribbon ? 'active' : '' %>">Ribbon</a>
                                </li>
                                <li>
                                  <a href="ui-clipboard" class="<%= active_path == routes.ui_clipboard ? 'active' : '' %>">Clipboard</a>
                                </li>
                                <li>
                                  <a href="ui-drag-drop" class="<%= active_path == routes.ui_drag_drop ? 'active' : '' %>">Drag & Drop</a>
                                </li>
                                <li>
                                  <a href="ui-rangeslider" class="<%= active_path == routes.ui_rangeslider ? 'active' : '' %>">Range Slider</a>
                                </li>
                                <li>
                                  <a href="ui-rating" class="<%= active_path == routes.ui_rating ? 'active' : '' %>">Rating</a>
                                </li>
                                <li>
                                  <a href="ui-text-editor" class="<%= active_path == routes.ui_text_editor ? 'active' : '' %>">Text Editor</a>
                                </li>
                                <li>
                                  <a href="ui-counter" class="<%= active_path == routes.ui_counter ? 'active' : '' %>">Counter</a>
                                </li>
                                <li>
                                  <a href="ui-scrollbar" class="<%= active_path == routes.ui_scrollbar ? 'active' : '' %>">Scrollbar</a>
                                </li>
                                <li>
                                  <a href="ui-stickynote" class="<%= active_path == routes.ui_stickynote ? 'active' : '' %>">Sticky Note</a>
                                </li>
                                <li>
                                  <a href="ui-timeline" class="<%= active_path == routes.ui_timeline ? 'active' : '' %>">Timeline</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.chart_apex || active_path == routes.chart_c3 || active_path == routes.chart_js || active_path == routes.chart_morris ||
                                active_path == routes.chart_flot || active_path == routes.chart_peity ? 'active subdrop' : '' %>">
                                <i class="ti ti-chart-infographic fs-16 me-2"></i>
                                <span>Charts</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                  <a href="chart-apex" class="<%= active_path == routes.chart_apex ? 'active' : '' %>">Apex Charts</a>
                                </li>
                                <li>
                                  <a href="chart-c3" class="<%= active_path == routes.chart_c3 ? 'active' : '' %>">Chart C3</a>
                                </li>
                                <li>
                                  <a href="chart-js" class="<%= active_path == routes.chart_js ? 'active' : '' %>">Chart Js</a>
                                </li>
                                <li>
                                  <a href="chart-morris" class="<%= active_path == routes.chart_morris ? 'active' : '' %>">Morris Charts</a>
                                </li>
                                <li>
                                  <a href="chart-flot" class="<%= active_path == routes.chart_flot ? 'active' : '' %>">Flot Charts</a>
                                </li>
                                <li>
                                  <a href="chart-peity" class="<%= active_path == routes.chart_peity ? 'active' : '' %>">Peity Charts</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.icon_fontawesome || active_path == routes.icon_tabler || active_path == routes.icon_bootstrap ||
                            active_path == routes.icon_remix || active_path == routes.icon_feather || active_path == routes.icon_material || active_path == routes.icon_ionic || active_path == routes.icon_pe7 ||
                            active_path == routes.icon_simpleline || active_path == routes.icon_themify || active_path == routes.icon_weather || active_path == routes.icon_typicon || active_path == routes.icon_flag
                            ? 'active subdrop' : '' %>">
                                <i class="ti ti-icons fs-16 me-2"></i>
                                <span>Icons</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                  <a href="icon-fontawesome" class="<%= active_path == routes.icon_fontawesome ? 'active' : '' %>">Fontawesome Icons</a>
                                </li>
                                <li>
                                  <a href="icon-tabler" class="<%= active_path == routes.icon_tabler ? 'active' : '' %>">Tabler Icons</a>
                                </li>
                                <li>
                                  <a href="icon-bootstrap" class="<%= active_path == routes.icon_bootstrap ? 'active' : '' %>">Bootstrap Icons</a>
                                </li>
                                <li>
                                  <a href="icon-remix" class="<%= active_path == routes.icon_remix ? 'active' : '' %>">Remix Icons</a>
                                </li>
                                <li>
                                  <a href="icon-feather" class="<%= active_path == routes.icon_feather ? 'active' : '' %>">Feather Icons</a>
                                </li>
                                <li>
                                  <a href="icon-ionic" class="<%= active_path == routes.icon_ionic ? 'active' : '' %>">Ionic Icons</a>
                                </li>
                                <li>
                                  <a href="icon-material" class="<%= active_path == routes.icon_material ? 'active' : '' %>">Material Icons</a>
                                </li>
                                <li>
                                  <a href="icon-pe7" class="<%= active_path == routes.icon_pe7 ? 'active' : '' %>">Pe7 Icons</a>
                                </li>
                                <li>
                                  <a href="icon-simpleline" class="<%= active_path == routes.icon_simpleline ? 'active' : '' %>">Simpleline Icons</a>
                                </li>
                                <li>
                                  <a href="icon-themify" class="<%= active_path == routes.icon_themify ? 'active' : '' %>">Themify Icons</a>
                                </li>
                                <li>
                                  <a href="icon-weather" class="<%= active_path == routes.icon_weather ? 'active' : '' %>">Weather Icons</a>
                                </li>
                                <li>
                                  <a href="icon-typicon" class="<%= active_path == routes.icon_typicon ? 'active' : '' %>">Typicon Icons</a>
                                </li>
                                <li>
                                  <a href="icon-flag" class="<%= active_path == routes.icon_flag ? 'active' : '' %>">Flag Icons</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.form_basic_inputs || active_path == routes.form_checkbox_radios || active_path == routes.form_input_groups || 
                            active_path == routes.form_grid_gutters || active_path == routes.form_select || active_path == routes.form_mask || active_path == routes.form_fileUpload || active_path == routes.form_horizontal || 
                            active_path == routes.form_vertical || active_path == routes.form_floating_labels || active_path == routes.form_validation || active_path == routes.form_formSelected2 || active_path == routes.form_wizard || 
                            active_path == routes.form_pickers ? 'active subdrop' : '' %>">
                                <i class="ti ti-input-search fs-16 me-2"></i><span>Forms</span><span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);" class="<%= active_path == routes.form_basic_inputs || active_path == routes.form_checkbox_radios || active_path == routes.form_input_groups || 
                                        active_path == routes.form_grid_gutters || active_path == routes.form_select || active_path == routes.form_mask || active_path == routes.form_fileUpload
                                    ? 'active subdrop' : '' %>">
                                        Form Elements
                                        <span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        <li>
                                          <a href="form-basic-inputs" class="<%= active_path == routes.form_basic_inputs ? 'active' : '' %>">Basic Inputs</a>
                                        </li>
                                        <li>
                                          <a href="form-checkbox-radios" class="<%= active_path == routes.form_checkbox_radios ? 'active' : '' %>">Checkbox & Radios</a>
                                        </li>
                                        <li>
                                          <a href="form-input-groups" class="<%= active_path == routes.form_input_groups ? 'active' : '' %>">Input Groups</a>
                                        </li>
                                        <li>
                                          <a href="form-grid-gutters" class="<%= active_path == routes.form_grid_gutters ? 'active' : '' %>">Grid & Gutters</a>
                                        </li>
                                        <li>
                                          <a href="form-select" class="<%= active_path == routes.form_select ? 'active' : '' %>">Form Select</a>
                                        </li>
                                        <li>
                                          <a href="form-mask" class="<%= active_path == routes.form_mask ? 'active' : '' %>">Input Masks</a>
                                        </li>
                                        <li>
                                          <a href="form-fileupload" class="<%= active_path == routes.form_fileUpload ? 'active' : '' %>">File Uploads</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu submenu-two">
                                    <a href="javascript:void(0);" class="<%= active_path == routes.form_horizontal || active_path == routes.form_vertical || active_path == routes.form_floating_labels ? 'active subdrop' : '' %>">
                                        Layouts
                                        <span class="menu-arrow inside-submenu"></span>
                                    </a>
                                    <ul>
                                        <li>
                                          <a href="form-horizontal" class="<%= active_path == routes.form_horizontal ? 'active' : '' %>">Horizontal Form</a>
                                        </li>
                                        <li>
                                          <a href="form-vertical" class="<%= active_path == routes.form_vertical ? 'active' : '' %>">Vertical Form</a>
                                        </li>
                                        <li>
                                          <a href="form-floating-labels" class="<%= active_path == routes.form_floating_labels ? 'active' : '' %>">Floating Labels</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="form-validation" class="<%= active_path == routes.form_validation ? 'active' : '' %>">Form Validation</a>
                                </li>                                
                                <li>
                                    <a href="form-select2" class="<%= active_path == routes.form_formSelected2 ? 'active' : '' %>">Select2</a>
                                </li>
                                <li>
                                    <a href="form-wizard" class="<%= active_path == routes.form_wizard ? 'active' : '' %>">Form Wizard</a>
                                </li>
                                <li>
                                    <a href="form-pickers" class="<%= active_path == routes.form_pickers ? 'active' : '' %>">Form Pickers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.tables_basic || active_path == routes.data_tables ? 'active subdrop' : '' %>">
                                <i class="ti ti-table fs-16 me-2"></i>
                                <span>Tables</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                  <a href="tables-basic" class="<%= active_path == routes.tables_basic ? 'active' : '' %>">Basic Tables </a>
                                </li>
                                <li>
                                  <a href="data-tables" class="<%= active_path == routes.data_tables ? 'active' : '' %>">Data Table </a>
                                </li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);" class="<%= active_path == routes.maps_vector || active_path == routes.maps_leaflet ? 'active subdrop' : '' %>">
                                <i class="ti ti-map-pin-pin fs-16 me-2"></i>
                                <span>Maps</span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li>
                                  <a href="maps-vector" class="<%= active_path == routes.maps_vector ? 'active' : '' %>">Vector</a>
                                </li>
                                <li>
                                  <a href="maps-leaflet" class="<%= active_path == routes.maps_leaflet ? 'active' : '' %>">Leaflet</a>
                                </li>
                              </ul>
                        </li>
                    </ul>
                </li>
                <li class="submenu-open">
                    <h6 class="submenu-hdr">Help</h6>
                    <ul>
                        <li><a href="https://dreamspos.dreamstechnologies.com/documentation/nodejs.html" target="_blank"><i class="ti ti-file-text fs-16 me-2"></i><span>Documentation</span></a></li>
                        <li><a href="https://dreamspos.dreamstechnologies.com/documentation/changelog.html" target="_blank"><i class="ti ti-exchange fs-16 me-2"></i><span>Changelog </span><span class="badge bg-primary badge-xs text-white fs-10 ms-2">v2.2.3</span></a></li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><i class="ti ti-menu-2 fs-16 me-2"></i><span>Multi Level</span><span class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="javascript:void(0);">Level 1.1</a></li>
                                <li class="submenu submenu-two"><a href="javascript:void(0);">Level 1.2<span class="menu-arrow inside-submenu"></span></a>
                                    <ul>
                                        <li><a href="javascript:void(0);">Level 2.1</a></li>
                                        <li class="submenu submenu-two submenu-three"><a href="javascript:void(0);">Level 2.2<span class="menu-arrow inside-submenu inside-submenu-two"></span></a>
                                            <ul>
                                                <li><a href="javascript:void(0);">Level 3.1</a></li>
                                                <li><a href="javascript:void(0);">Level 3.2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Horizontal Menu -->
<%- include ('./horizontal-sidebar') %>
<!-- /Horizontal Menu -->

<!-- Two Col Sidebar -->
<%- include ('./two-col-sidebar') %>
<!-- /Two Col Sidebar -->